{% extends "include/game_base.html" %}
{% block title %}타이틀{% endblock %}
{% block script %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h4 class="page-title">Edit menus</h4>
</div>
<div class="row">
    <div class="card col-12">
        <div class="card-header">
            <div class="card-category">※ Collection menus are applied immediately after your submit.</div>
        </div>
        <div class="card-body">
            </div>
            <div class="card-action">
                <button class="btn btn-success">Submit</button>
                <button class="btn btn-danger">Cancel</button>
            </div>
        </div>
        </form>
        </div>
    </div>
</div>
            
{% endblock %}
